<h1>Bienvenid@,{{user.name}}</h1>
    <p>rol:{{user.role}} </p>
    <img src="{{user.avatar}}" alt="src" height="100 " width="100">
    <form action="/logout" method="POST">
      <button type="submit">Cerrar sesión</button>
    </form>
    <br>
    <a href="/carrito" class="btn btn-primary">Ir al carrito</a>
<div>
   {{> productos}}
</div>