<h1>Logueate</h1>
<form id="loginForm">
  <label>Correo electrónico</label>
  <input name="email">
  <label>Contraseña</label>
  <input type="password" name="password">
  <button type="submit">Ingresar</button>
  <p id="loginError"></p>
</form>
<p>¿No estás logueado? <a href="/register">Regístrate :)</a></p>
<p>tambien te puede loguear por Github</p>
<a href="/api/sessions/github"> <button>Github :D</button> </a>
<script src="/js/login.js"></script>